@charset "UTF-8";
$font_family_default: 'Segoe UI',
'Open Sans',
Tahoma,
Arial,
sans-serif;
$font_family_arial: Arial,
Tahoma,
​sans-serif;
$font_family_heading: 'Helvetica Neue',
Helvetica,
Tahoma,
Arial,
sans-serif;
$font_family_monospace: monospace;
$header_height: 50px;
$header_top_height: 30px;
$fixed_header_margin_top: 50px;
$aside_width: 240px;