@charset "UTF-8";
 $logo_width: 300px;
 $content_width: 640px;
 .auth-container {
		 background-size: cover;
		 &.default {
				 background: url('../images/background/1.jpg') no-repeat center center;
						 background-size: cover;

		 }
		 &.royal {
				 background: url('../images/background/2.jpg') no-repeat center center;
						 background-size: cover;

		 }
		 &.kitchen {
				 background: url('../images/background/3.jpg') no-repeat center center;
						 background-size: cover;

		 }
		 &.veggie {
				 background: url('../images/background/4.jpg') no-repeat center center;
						 background-size: cover;

		 }
		 &.chicken {
				 background: url('../images/background/5.jpg') no-repeat center center;
						 background-size: cover;

		 }

		 .authlogo {
				 max-width: $logo_width;
				 margin: 0 auto;
				 margin-bottom: 40px;
				 margin-top: 10px;

				 img {
						 width: 100%;
						 display: block;
						 height: 100px;
						 width: 200px;
				 }
		 }
		 .content-container {
				 margin: 0 auto;
				 width: $content_width;
				 margin-top: 60px;
				 margin-bottom: 20px;
		 }

		 .content {
				 flex: 1.2;
				 max-width: 400px;
				 box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.10) inset, 0px 0 0 rgba(0, 0, 0, 0.05) inset, 0px 20px 20px rgba(0, 0, 0, 0.05) inset, 0px 30px 20px rgba(0, 0, 0, 0.05) inset;
				 padding: 20px 30px;

				 background: rgb(255, 255, 255);
				 background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 16%, rgba(225, 225, 225, 1) 17%, rgba(246, 246, 246, 1) 100%);
				 background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 16%, rgba(225, 225, 225, 1) 17%, rgba(246, 246, 246, 1) 100%);
				 background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(241, 241, 241, 1) 16%, rgba(225, 225, 225, 1) 17%, rgba(246, 246, 246, 1) 100%);
				 input {
						 margin-top: 6px;
						 &:first-child {
								 margin-top: 0;
						 }
				 }
				 .label-marker {
						 font-size: 16px;
						 color: #2db7f5;
				 }
				 .ant-alert.ant-alert-error {
						 background-color: #DD4B39;
						 color: #FFF;
						 i {
								 color: #FFF;
						 }
				 }
				 input {
						 display: block;
						 width: 100%;
						 font-size: 16px;
						 line-height: 22px;
						 color: #000;
						 border: 1px solid #CCC;
						 cursor: pointer;
						 padding: 6px 8px;
						 &:focus {
								 box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
								 border-color: #51A7E8;
								 background-color: rgba(0, 0, 0, 0.009);
						 }
				 }
				 h2 {
						 margin-bottom: 15px;
						 color: #333;
						 font-size: 22px;
				 }
				 form {
						 width: 100%;
				 }
				 .form-footer {
						 margin-top: 25px;
						 a {
								 float: right;
								 line-height: 34px;
						 }
				 }
		 }
		 .social {
				 flex: 1;
				 border-left: 1px solid #AAA;
				 padding-left: 30px;
				 margin-left: 30px;
		 }
 }
