@charset "UTF-8";
#wrapper {
    @include transition();
    margin-bottom: 40px;
    &.has-fh {
        padding-top: $fixed_header_margin_top;
    }
    &.has-fa {
        margin-left: $aside_width;
    }
}

.page-not-found {
    padding: 50px;
    border: 1px solid #EEE;
    max-width: 640px;
    margin: 40px auto;
    margin-top: 100px;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.10), 0px 0 0 rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05) inset; // box-shadow: 0px 15px 20px 3px #EEE;
}

.empty-content {
    background: #EEE;
    padding: 100px;
    background: rgb(254, 255, 255);
    background: -moz-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(210, 235, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 255, 255, 1) 0%, rgba(210, 235, 249, 1) 100%);
    background: linear-gradient(to bottom, rgba(254, 255, 255, 1) 0%, rgba(210, 235, 249, 1) 100%);
    border-radius: 5px;
    border: 2px solid #CCC;
    h1 {
        margin-bottom: 6px;
    }
}